@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", system-ui, sans-serif;
  }
  .draggable {
    @apply w-[200px] h-[400px]  cursor-grab;
  
    --x: 0px;
    --y: 0px;
    --opacity: 1;

    transform: translate3d(var(--x), var(--y), 0) rotate(var(--rotate));
  }
  .draggable.returning {
    transition: transform 0.3s ease-out, opacity 0.3s ease-out; /* Включается только при отпускании */
  }
  .draggable.dismissed {
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    pointer-events: none;
  }
  .draggable:active {
    @apply cursor-grabbing;
  }
}


body {
  box-sizing: border-box;
  --purple500: #896fe2;
  --purple200: #e5dff9;
  --grey200: #eeee;
  --grey300: #a7a7a7;
  --grey600: #666666;
  --white: #ffffff;
  --black: #000;
  --black50: #1f1f1f;
  --b800: #171615;
  --orange10: #ffebbc;
  --orange50: #ffdc97;
  --orange100: #ffbd3e;
  --orange150: #ffbe41;
  --orange200: #fcbf49;
  --orange250: #ffa800;
  --orange400: #ff9000;
  --orange450: #ff9001;
  --orange500: #ff7d34;
  --orange600: #fc6a00;
  background-color: #1a1a1a;
  color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

@layer utilities {
  details > summary::marker {
    display: none !important;
  }

  summary::-webkit-details-marker {
    /* Hides marker on Safari */
    display: none;
  }

  summary {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    align-items: center;
    transition: 1s transform ease;
  }

  @keyframes openDetails {
    0% {
      height: 0;
      opacity: 0;
    }
    100% {
      height: fit-content;
      opacity: 1;
    }
  }

  details[open] > p {
    animation: openDetails 0.5s ease forwards;
  }

  details > summary::after {
    content: url("/arrow_back_2.svg");
    position: relative;
    display: inline-block;
    width: 12px;
    height: 14px;
    transition: 0.3s transform ease;
    transform: rotate(-90deg);
  }

  details[open] > summary::after {
    align-items: end;
    width: 12px;
    height: 10px;
    transform: rotate(0deg);
    transition: 0.3s transform ease;
  }
}

/* Custom Radio Button */
.form_radio {
  margin-bottom: 10px;
}

.form_radio input[type="radio"] {
  display: none;
}

.form_radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 20px;
  margin-right: 0;
  line-height: 18px;
  user-select: none;
}
.form_radio label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background: url(/radio-1.svg) 0 0 no-repeat;
}

.form_radio input[type="radio"]:checked + label:before {
  background: url(/radio-2.svg) 0 0 no-repeat;
}

/* Toggle Switch */
.toggle_button {
  position: relative;
  display: inline-block;
  width: auto;
  width: 30px;
  height: 15px;
  margin: 0;
  vertical-align: top;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.toggle_button::after {
  content: "";

  display: inline-block;
  position: absolute;
  left: 3px;
  top: 24%;

  width: 7px;
  height: 7px;
  background-color: white;
  border-radius: 50%;

  transform: translateX(0);
  transition: 0.3s;
}
.toggle_button:checked::after {
  transform: translateX(calc(100% + 9px));
  background-color: #fff;
}
.toggle_button:checked {
  background-color: transparent;
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

/* Progress Bar */
.progress_bar {
  width: 100%;
  height: 5px;
  background: #d9d9d9;
}

.progress_bar_fill {
  height: 100%;
  background-color: #ff6712;
  transition: width 0.5s ease-in-out;
}
.descr-gradient-grey-normal {
  border: 1px solid white;
  background: linear-gradient(
    311.96deg,
    rgba(255, 255, 255, 0.2) 21.14%,
    rgba(120, 120, 120, 0.2) 94.95%
  );
}
.layout {
  background: rgba(40, 40, 40, 0.9);
}
